body {
    margin: 0;
    padding: 0;
    background: url('texture.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.phrase {
    font-family: 'Arial', sans-serif;
    font-size: 24px; /* Tamaño de fuente para la frase */
    color: white;
    margin-bottom: 20px;
}

.countdown {
    font-family: 'Arial', sans-serif;
    font-size: 40px; /* Tamaño reducido para la cuenta regresiva */
    color: white;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display: inline-block;
}

.countdown span {
    display: inline-block;
    margin: 0 10px;
}

.countdown .label {
    display: block;
    font-size: 20px; /* Tamaño de fuente para las etiquetas */
    margin-top: 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #555;
    transform: scale(1.05);
}
